# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
.pytest_cache/
.mypy_cache/

important.txt